:host {
  .round-state-wrapper {
    background-color: white;
    border-radius: 6px;
    width: 300px;
    height: 100px;
  }

  .multiplier {
    font-size: 18px;
    color: white;
    min-width: 20px;
    padding: 5px;
    border-radius: 6px;
  }
}
