:host {
  .bet-btn {
    width: 180px;
    height: 80px;
    color: white;
    background: #54dfb8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
  }
}
